body {
  margin: 0;
}
#loader {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #21242d
    url("https://cssauthor.com/wp-content/uploads/2018/06/Bouncy-Preloader.gif")
    no-repeat center;
  z-index: 999;
}
.content-body {
  min-height: 100vh;
  /* border: 100px solid red; */
  /* position: relative; */
}
.heading {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  box-shadow: 0 20px 6px -6px rgb(148, 146, 145);
  margin-bottom: 2.5%;
}

.heading-logo {
  width: 20vw;
  height: 15vh;
}
.heading-text {
  font-family: fantasy;
  font-size: 2.5em;
  text-align: center;
}
.subheading {
  font-family: sans-serif;
  text-decoration: underline;
}
.model {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  /* border: 5px solid black; */
}
.model-load {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(252, 253, 253);
  margin: 5px;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: bold;
  border-color: rgb(218, 13, 13);
  background-color: rgb(218, 13, 13);
  outline: none;
}

.model-load:hover {
  border-color: rgb(212, 83, 83);
  background-color: rgb(212, 83, 83);
  color: rgb(22, 3, 58);
  cursor: pointer;
}
.model-load:active {
  box-shadow: 0 2px 25px rgba(228, 95, 104, 0.2);
}
.model-image-label {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: 1px solid red;
  color: rgb(252, 253, 253);
  margin: 5px;
  font-size: 20px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: bold;
  border-color: rgb(24, 146, 177);
  background-color: rgb(24, 146, 177);
  outline: none;
}
.model-image-label:hover {
  border-color: gray;
  background-color: gray;
  color: white;
  cursor: pointer;
}
.model-image {
  display: none;
}
.model-execute {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: rgb(252, 253, 253);
  margin: 5px;
  font-size: 22px;
  padding: 10px 20px;
  letter-spacing: 1px;
  border-radius: 4px;
  font-weight: bold;
  border-color: rgb(98, 218, 62);
  background-color: rgb(98, 218, 62);
  outline: none;
}
.model-execute:hover {
  border-color: rgb(147, 224, 124);
  background-color: rgb(147, 224, 124);
  color: rgb(111, 75, 177);
  cursor: pointer;
}
.model-execute:active {
  box-shadow: 0 2px 25px rgba(228, 95, 104, 0.2);
}

/*AFTER 750 PX CHART SHOULD GO DOWN*/
.cap {
  margin-top: 20px;
  max-width: 100%;

  /* border: 1px solid black; */
  /* display: flex; */
  /* max-height: 60vh; */
  /* justify-content: center; */
  /* align-items: center; */
  /* flex-wrap: wrap; */
  /* position: absolute; */
}
.cap > * {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  /* border: 3px solid green; */
}
/* .cap > * {
  /* max-height: 224px; 
  /* border: 3px solid green; 
  /* overflow-x: hidden; 
} */
.cap-img {
  position: relative;

  max-width: 100vw;
  /* text-align: center; */
  /* border: 5px solid black; */
}
#canvasimage {
  position: absolute;
  display: inline;
  top: 0px;
  /* left: 9%; */
  border: 2px solid black;
}
#canavasegments {
  height: 224px;
  width: 224px;
}
.cap-chart {
  display: none;
  margin-top: 60px;
  /* width: 20%;
  height: 30%; */
  width: 50vw;
  height: 400px;
}
footer {
  /* position: absolute; */
  margin-top: 30px;
  width: 100%;
  font-family: cursive;
  bottom: 0;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
  background-color: Black;
  color: white;
}
footer > * {
  padding-right: 100px;
  /* border: 2px solid gray; */
}
.footer-guide,
.footer-developers {
  border-right: 2px solid gray;
}
.links > * :link {
  /* border: 1px solid white; */
  color: rgb(0, 255, 170);
}
.links > * :visited {
  color: rgb(52, 167, 196);
}
@media only screen and (max-width: 1072px) {
  .heading-logo {
    width: 50vw;
  }
  .model-load,
  .model-execute,
  .model-image-label {
    font-size: 25px;
  }
}
@media only screen and (max-width: 750px) {
  .heading-logo {
    width: 50vw;
  }
  .cap-img {
    text-align: center;
  }
  #canvasimage {
    /* margin-left: 15%; */
    margin-right: auto;
  }
  .cap-chart {
    margin-top: 100px;
  }
}
@media only screen and (max-width: 650px) {
  .heading-logo {
    width: 50vw;
  }
  .cap-chart {
    /* width: 20%;
    height: 30%; */
    width: 95vw;
    height: 400px;
  }
  .footer-guide,
  .footer-developers {
    border-right: 0px solid gray;
  }
}
@media only screen and (max-width: 572px) {
  .model-load,
  .model-execute,
  .model-image-label {
    height: 15%;
    font-size: 10px;
    font-weight: bolder;
  }
  .heading-text {
    font-size: 1.5em;
  }
}
@media only screen and (max-width: 400px) {
  .heading-logo {
    width: 50vw;
  }
  /* #canvasimage {
    margin-left: 7%;
    margin-right: auto;
  } */
}
